In [38]:
import numpy as np
import pandas as pd

In [39]:
inf=pd.read_csv("C:\\Users\\129mu\\Desktop\\data_cleaning_yt\\dataset.csv",encoding="latin1")
inf

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",BeyoncÃ©,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",BeyoncÃ©,The Mrs. Carter Show World Tour,2013â2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],2002â2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â2014,86,"$1,744,186",[26]

In [41]:
inf["Peak"]=inf["Peak"].astype("str").str.extract(r"(\d+)")[0]
inf["All Time Peak"]=inf["All Time Peak"].astype("str").str.extract(r"(\d+)")[0]
inf

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1]
1,2,1,7,"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6]
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7]
4,5,2,NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",BeyoncÃ©,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",BeyoncÃ©,The Mrs. Carter Show World Tour,2013â2014,132,"$1,735,606",[15][16]
11,12,NaN,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â2015,151,"$1,350,993",[19]
13,14,1,NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],2002â2005,325,"$615,385",[20]
14,15,2,NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â2014,86,"$1,744,186",[26]

In [42]:
inf["Peak"]=inf["Peak"].fillna(-1)
inf["All Time Peak"]=inf["All Time Peak"].fillna(-1)
inf

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1]
1,2,1,7,"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6]
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7]
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11]
7,7,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12]
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncÃ©,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncÃ©,The Mrs. Carter Show World Tour,2013â2014,132,"$1,735,606",[15][16]
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â2011,203,"$1,118,227",[18]
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â2015,151,"$1,350,993",[19]
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],2002â2005,325,"$615,385",[20]
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â2014,142,"$1,295,775",[22]
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â2013,98,"$1,734,694",[d]
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â2016,82,"$2,070,732",[4]
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â2017,121,"$1,385,950",[25]
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â2014,86,"$1,744,186",[26]

In [43]:
inf["Peak"]=inf["Peak"].astype("int")
inf["All Time Peak"]=inf["All Time Peak"].astype("int")

In [44]:
inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               20 non-null     int64
 1   Peak                               20 non-null     int64
 2   All Time Peak                      20 non-null     int64
 3   ActualÂ gross                      20 non-null     object
 4   AdjustedÂ gross (in 2022 dollars)  20 non-null     object
 5   Artist                             20 non-null     object
 6   Tour title                         20 non-null     object
 7   Year(s)                            20 non-null     object
 8   Shows                              20 non-null     int64
 9   Average gross                      20 non-null     object
 10  Ref.                               20 non-null     object
dtypes: int64(4), object(7)
memory usage: 1.8+ KB

In [45]:
inf=inf.rename(columns={"ActualÂ gross":"Actual Gross","AdjustedÂ gross (in 2022 dollars)":"Adjusted Gross"})
inf.columns

Index(['Rank', 'Peak', 'All Time Peak', 'ActualÂ gross',
       'AdjustedÂ gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')

In [46]:
cols=list(inf.columns)
cols[3]="Actual Gross"
cols[4]="Adjusted gross"
inf.columns = cols

In [47]:
inf["Shows"]<0

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: Shows, dtype: bool

In [48]:
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1]
1,2,1,7,"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6]
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7]
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11]
7,7,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12]
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncÃ©,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncÃ©,The Mrs. Carter Show World Tour,2013â2014,132,"$1,735,606",[15][16]
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â2011,203,"$1,118,227",[18]
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â2015,151,"$1,350,993",[19]
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],2002â2005,325,"$615,385",[20]
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â2014,142,"$1,295,775",[22]
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â2013,98,"$1,734,694",[d]
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â2016,82,"$2,070,732",[4]
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â2017,121,"$1,385,950",[25]
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â2014,86,"$1,744,186",[26]

In [12]:
import unicodedata

inf["Artist"]=inf["Artist"].apply(lambda x: unicodedata.normalize("NFKD",str(x)))
inf["Artist"]=(inf["Artist"].str.encode("ascii","ignore").str.decode("utf-8"))
inf["Artist"]=inf["Artist"].str.replace(r"[^\w\s]+","",regex=True)
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1]
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6]
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7]
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11]
7,7,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12]
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs. Carter Show World Tour,2013â2014,132,"$1,735,606",[15][16]
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â2011,203,"$1,118,227",[18]
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â2015,151,"$1,350,993",[19]
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],2002â2005,325,"$615,385",[20]
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â2014,142,"$1,295,775",[22]
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â2013,98,"$1,734,694",[d]
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â2016,82,"$2,070,732",[4]
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â2017,121,"$1,385,950",[25]
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â2014,86,"$1,744,186",[26]

In [14]:
years = inf["Year(s)"].astype("str").str.split(r"\D+", expand=True, regex=True)

inf["Start_year"] = years[0].astype("Int64")
inf["End_year"]   = years[1].astype("Int64")
inf["End_year"] = inf["End_year"].fillna(inf["Start_year"])
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Year(s),Shows,Average gross,Ref.,Start_year,End_year
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1],2023,2024
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,2023,56,"$10,353,571",[3],2023,2023
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6],2008,2009
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7],2018,2019
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],2018,2018
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],2012,2012
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11],2008,2009
7,7,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12],2023,2024
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,2016,49,"$5,226,215",[13],2016,2016
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],2015,2015
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs. Carter Show World Tour,2013â2014,132,"$1,735,606",[15][16],2013,2014
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â2011,203,"$1,118,227",[18],2009,2011
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â2015,151,"$1,350,993",[19],2014,2015
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],2002â2005,325,"$615,385",[20],2002,2005
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],2006,2006
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â2014,142,"$1,295,775",[22],2013,2014
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â2013,98,"$1,734,694",[d],2012,2013
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â2016,82,"$2,070,732",[4],2015,2016
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â2017,121,"$1,385,950",[25],2016,2017
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â2014,86,"$1,744,186",[26],2013,2014

In [15]:
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Year(s),Shows,Average gross,Ref.,Start_year,End_year
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1],2023,2024
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,2023,56,"$10,353,571",[3],2023,2023
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6],2008,2009
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7],2018,2019
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],2018,2018
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],2012,2012
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11],2008,2009
7,7,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12],2023,2024
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,2016,49,"$5,226,215",[13],2016,2016
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],2015,2015
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs. Carter Show World Tour,2013â2014,132,"$1,735,606",[15][16],2013,2014
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009â2011,203,"$1,118,227",[18],2009,2011
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014â2015,151,"$1,350,993",[19],2014,2015
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],2002â2005,325,"$615,385",[20],2002,2005
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],2006,2006
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013â2014,142,"$1,295,775",[22],2013,2014
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012â2013,98,"$1,734,694",[d],2012,2013
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015â2016,82,"$2,070,732",[4],2015,2016
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016â2017,121,"$1,385,950",[25],2016,2017
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013â2014,86,"$1,744,186",[26],2013,2014

In [54]:
inf=inf.drop(columns=["Year(s)","Ref."])

KeyError: "['Year(s)', 'Ref.'] not found in axis"

In [57]:
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Shows,Average gross,Start_year,End_year
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,56,"$13,928,571",2023,2024
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,56,"$10,353,571",2023,2023
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],85,"$4,835,294",2008,2009
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,7,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,41,"$6,282,927",2023,2024
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,49,"$5,226,215",2016,2016
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs. Carter Show World Tour,132,"$1,735,606",2013,2014
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,203,"$1,118,227",2009,2011
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],325,"$615,385",2002,2005
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014

In [58]:
inf.loc[7, "Rank"] = 8
inf.loc[8,"Rank"]=9
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Shows,Average gross,Start_year,End_year
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,56,"$13,928,571",2023,2024
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,56,"$10,353,571",2023,2023
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],85,"$4,835,294",2008,2009
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,8,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,41,"$6,282,927",2023,2024
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,49,"$5,226,215",2016,2016
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs. Carter Show World Tour,132,"$1,735,606",2013,2014
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,203,"$1,118,227",2009,2011
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],325,"$615,385",2002,2005
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014

In [59]:
inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            20 non-null     int64
 1   Peak            20 non-null     int64
 2   All Time Peak   20 non-null     int64
 3   Actual Gross    20 non-null     object
 4   Adjusted gross  20 non-null     object
 5   Artist          20 non-null     object
 6   Tour title      20 non-null     object
 7   Shows           20 non-null     int64
 8   Average gross   20 non-null     object
 9   Start_year      20 non-null     Int64
 10  End_year        20 non-null     Int64
dtypes: Int64(2), int64(4), object(5)
memory usage: 1.9+ KB

In [60]:
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Shows,Average gross,Start_year,End_year
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,56,"$13,928,571",2023,2024
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,56,"$10,353,571",2023,2023
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],85,"$4,835,294",2008,2009
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,8,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,41,"$6,282,927",2023,2024
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,49,"$5,226,215",2016,2016
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs. Carter Show World Tour,132,"$1,735,606",2013,2014
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,203,"$1,118,227",2009,2011
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],325,"$615,385",2002,2005
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014

In [61]:
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Shows,Average gross,Start_year,End_year
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,56,"$13,928,571",2023,2024
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,56,"$10,353,571",2023,2023
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],85,"$4,835,294",2008,2009
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,8,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,41,"$6,282,927",2023,2024
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,49,"$5,226,215",2016,2016
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs. Carter Show World Tour,132,"$1,735,606",2013,2014
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,203,"$1,118,227",2009,2011
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour â¡[21][a],325,"$615,385",2002,2005
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014

In [62]:
inf["Tour title"] = (
    inf["Tour title"]
    .astype("str")
    .str.replace(r"\[[^\]]*\]", "", regex=True)
    .str.replace(r"\W+", " ", regex=True)
    .str.strip()
)
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Shows,Average gross,Start_year,End_year
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,56,"$13,928,571",2023,2024
1,2,1,7,"$579,800,000","$579,800,000",BeyoncA,Renaissance World Tour,56,"$10,353,571",2023,2023
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky Sweet Tour â,85,"$4,835,294",2008,2009
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,5,2,-1,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,6,2,10,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,7,2,-1,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,8,-1,-1,"$257,600,000","$257,600,000",Pink,Summer Carnival â,41,"$6,282,927",2023,2024
8,9,-1,-1,"$256,084,556","$312,258,401",BeyoncA,The Formation World Tour,49,"$5,226,215",2016,2016
9,10,-1,-1,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,11,-1,-1,"$229,100,000[b]","$283,202,896",BeyoncA,The Mrs Carter Show World Tour,132,"$1,735,606",2013,2014
11,12,-1,14,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour,203,"$1,118,227",2009,2011
12,13,-1,-1,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,14,1,-1,"$200,000,000","$299,676,265",Cher,Living Proof The Farewell Tour â,325,"$615,385",2002,2005
14,15,2,-1,"$194,000,000","$281,617,035",Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,16,-1,-1,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,17,-1,-1,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,18,-1,-1,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,19,-1,-1,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,20,-1,-1,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014

In [63]:
inf["Actual Gross"].value_counts

<bound method IndexOpsMixin.value_counts of 0        $780,000,000
1        $579,800,000
2        $411,000,000
3        $397,300,000
4        $345,675,146
5        $305,158,363
6        $280,000,000
7        $257,600,000
8        $256,084,556
9        $250,400,000
10    $229,100,000[b]
11       $227,400,000
12       $204,000,000
13       $200,000,000
14       $194,000,000
15       $184,000,000
16       $170,000,000
17       $169,800,000
18    $167,700,000[e]
19       $150,000,000
Name: Actual Gross, dtype: object>

In [65]:
inf["Actual Gross"]=inf["Actual Gross"].astype("str").str.replace(r"\[[^\]]*\]", "", regex=True).str.replace(r"[^0-9.]","",regex=True).astype("int")

In [66]:
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Shows,Average gross,Start_year,End_year
0,1,1,2,780000000,"$780,000,000",Taylor Swift,The Eras Tour â,56,"$13,928,571",2023,2024
1,2,1,7,579800000,"$579,800,000",BeyoncA,Renaissance World Tour,56,"$10,353,571",2023,2023
2,3,1,2,411000000,"$560,622,615",Madonna,Sticky Sweet Tour â,85,"$4,835,294",2008,2009
3,4,2,10,397300000,"$454,751,555",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,5,2,-1,345675146,"$402,844,849",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,6,2,10,305158363,"$388,978,496",Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,7,2,-1,280000000,"$381,932,682",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,8,-1,-1,257600000,"$257,600,000",Pink,Summer Carnival â,41,"$6,282,927",2023,2024
8,9,-1,-1,256084556,"$312,258,401",BeyoncA,The Formation World Tour,49,"$5,226,215",2016,2016
9,10,-1,-1,250400000,"$309,141,878",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,11,-1,-1,229100000,"$283,202,896",BeyoncA,The Mrs Carter Show World Tour,132,"$1,735,606",2013,2014
11,12,-1,14,227400000,"$295,301,479",Lady Gaga,The Monster Ball Tour,203,"$1,118,227",2009,2011
12,13,-1,-1,204000000,"$251,856,802",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,14,1,-1,200000000,"$299,676,265",Cher,Living Proof The Farewell Tour â,325,"$615,385",2002,2005
14,15,2,-1,194000000,"$281,617,035",Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,16,-1,-1,184000000,"$227,452,347",Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,17,-1,-1,170000000,"$213,568,571",Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,18,-1,-1,169800000,"$207,046,755",Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,19,-1,-1,167700000,"$204,486,106",Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,20,-1,-1,150000000,"$185,423,109",Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014

In [68]:
inf["Adjusted gross"]=inf["Adjusted gross"].astype("str").str.replace(r"\[[^\]]*\]","",regex=True).str.replace(r"[^0-9.]","",regex=True).astype("int")

In [69]:
inf

,Rank,Peak,All Time Peak,Actual Gross,Adjusted gross,Artist,Tour title,Shows,Average gross,Start_year,End_year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour â,56,"$13,928,571",2023,2024
1,2,1,7,579800000,579800000,BeyoncA,Renaissance World Tour,56,"$10,353,571",2023,2023
2,3,1,2,411000000,560622615,Madonna,Sticky Sweet Tour â,85,"$4,835,294",2008,2009
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
4,5,2,-1,345675146,402844849,Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,2018
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,88,"$3,467,709",2012,2012
6,7,2,-1,280000000,381932682,Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
7,8,-1,-1,257600000,257600000,Pink,Summer Carnival â,41,"$6,282,927",2023,2024
8,9,-1,-1,256084556,312258401,BeyoncA,The Formation World Tour,49,"$5,226,215",2016,2016
9,10,-1,-1,250400000,309141878,Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,2015
10,11,-1,-1,229100000,283202896,BeyoncA,The Mrs Carter Show World Tour,132,"$1,735,606",2013,2014
11,12,-1,14,227400000,295301479,Lady Gaga,The Monster Ball Tour,203,"$1,118,227",2009,2011
12,13,-1,-1,204000000,251856802,Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
13,14,1,-1,200000000,299676265,Cher,Living Proof The Farewell Tour â,325,"$615,385",2002,2005
14,15,2,-1,194000000,281617035,Madonna,Confessions Tour,60,"$3,233,333",2006,2006
15,16,-1,-1,184000000,227452347,Pink,The Truth About Love Tour,142,"$1,295,775",2013,2014
16,17,-1,-1,170000000,213568571,Lady Gaga,Born This Way Ball,98,"$1,734,694",2012,2013
17,18,-1,-1,169800000,207046755,Madonna,Rebel Heart Tour,82,"$2,070,732",2015,2016
18,19,-1,-1,167700000,204486106,Adele,Adele Live 2016,121,"$1,385,950",2016,2017
19,20,-1,-1,150000000,185423109,Taylor Swift,The Red Tour,86,"$1,744,186",2013,2014

In [ ]:
inf["Average gross"]=inf["Average gross"].astype("str").str.replace(r"\[[^\]]*\]","",regex=True).str.replace(r"[^0-9.]","",regex=True).astype("int")